.servicesbody{
    color: rgb(255, 240, 245);
    background-image: url("satyam3.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.p {
    font-size: 30px;
    font-family: verdana;
    margin: 100px;
}

.div {
    background-color: rgb(228, 222, 222, 0.133);
    margin: 200px;
}

.q:hover {
    color: red;
}