<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            color: rgb(255, 240, 245);
            background-image: url("satyam3.jpg");
            background-attachment: fixed;
            background-size: cover;
        }

        p {
            font-size: 30px;
            font-family: verdana;
            margin: 100px;
        }

        div {
            background-color: rgb(228, 222, 222, 0.133);
            margin: 200px;
        }

        .q:hover {
            color: red;
        }
    </style>
</head>

<body>
    <input name="form" value="Homepage" type="submit">
    <h1 style=text-align:center;color:firebrick;>
        OUR SERVICES
    </h1>\
    <div>
        <p><span class="q">We offer services such as:</span></p><br>
        <p><span class="q">Calorie tracking:<br>we track how much calories you burned through your excercise</span></p>
        <p><span class="q">Attendence<br>we monitor your daily attendance ,how often u visit or sports club</span></p>
        <p><span class="q">Membership<br>We offer various membership for our members according to their comforts</span>
        </p>


</body>

</html>